#Dashboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;

  h1 {
    color: rgb(224, 230, 221);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }

  #Dashboard-content {
    display: flex;

    #refresh {
      float: inline-end;
      background-color: rgb(220, 222, 221);
      margin: 1px;
      border-radius: 19px;
    }
  }
}
