#DetailsCard {
  // background-color: rgba(46, 105, 84, 0.759);
  // background-color: rgba(26, 69, 54, 0.759);
  // background-color: rgba(96, 116, 109, 0.759);
  border-radius: 0px 20px 20px 20px;
  height: fit-content;
  min-height: 50vh;
  width: 40vw;
  background-color: rgb(244, 246, 245);
  box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.5);
  padding: 1.5rem 0 0;

  #info {
    color: rgba(26, 69, 54, 0.759);
    font-size: larger;
    display: grid;
    width: 100%;

    #info-section {
      background-color: rgba(220, 222, 221, 0.197);
      border-radius: 15px;
      border-color: rgba(210, 210, 210, 0.494);
      margin: 0px 15px 0 15px;
      padding: 15px;
      display: grid;
    }

    #info-city {
      margin: 0;
    }

    #info-category {
      margin: 0;
    }

    #info-aqi {
      margin: 0;
    }

    #info-lastUpdated {
      text-align: right;
      margin: 0 10px;
    }

    .face-icon {
      font-size: 300px;
      justify-self: center;
      margin: 1.5rem;
      border-radius: 50%;
      box-shadow: 20px 20px 100px rgba(162, 165, 162, 0.642);
    }
  }
}

@media only screen and (max-width: 1000px) {
  #DetailsCard {
    width: 60vw;
    height: min-content;
  }

  #info-section {
    font-size: small;
  }

  .face-icon {
    font-size: 10em !important;
  }
}
