#DetailsCard{ 
  border: solid;
  border-color: whitesmoke;
  border-radius: 20px;
  height: 60vh;
  width: 60vw;
  background-color: rgba(46, 105, 84, 0.759);
  box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.5);
}