#navbar-list{
  display:flex;
  width: 100vw;
  justify-content: space-evenly;
  padding: 10px 0 10px 0;
  border: solid;
  border-left:none;
  border-right:none;

  .navbar-item{
    display:inline;
  }
}