nav{
  border-radius: 20px 0 0 20px;
  background-color: rgb(220, 222, 221);
  height: min-content;

  #navbar-list {
    display: grid;
    width: max-content;
    padding: 0;
  
    .navbar-item {
      display: inline;
      font-size: large;
      text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
      padding: 10px;
  
      &:hover {
        cursor: pointer;
      }
    }
  
    .navbar-item-active {
      color: rgb(12, 6, 6);
      text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
      text-decoration: underline;
      font-size: large;
      list-style-type: none;
      background-color: rgb(252, 255, 254);
      padding: 10px;
  
      &:hover {
        cursor: pointer;
      }
    }
  }
  
  .menu-icon{
    display:flex;
    justify-items: end;
    // left:250px;
    // right: 10px;
  }

}